<ion-header>
  <ion-toolbar color="primary">
    <ion-title>View Marks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button expand="block" size="small" color="light" disabled>
      Search by
    </ion-button>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" size="small" color="{{colorofClassTab}}" (click)="stateChange()">
            class
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" size="small" color="{{colorofStudentTab}}" (click)="stateChange()">
            student
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngIf="state==='selectedClass'">
      <form method="post" [formGroup]="form1" (ngSubmit)="onClassIdSubmit()">
      <ion-item>
        <ion-label>Class</ion-label>
        <ion-select interface="action-sheet" formControlName="classId" class="custom-options">
          <ion-select-option
          class="form-control"
          *ngFor="let c of classes" [value]="c.classId">{{c.className}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button type="submit" expand="block">
        Search
      </ion-button>
    </form>

    <ion-card *ngIf="classResultStatus">

        <ion-item  *ngFor="let val of resultByClassId">
            Student ID : {{val.studentId}}
            <br>
            {{val.firstName}} {{val.lastName}}
            <ion-button slot="end" shape="round" [routerLink]="['studentsmarksheet/',val.studentId]">
              <ion-icon name="chevron-forward-circle-outline"></ion-icon>
             </ion-button>
        </ion-item>

    </ion-card>


    </ion-card>

    <ion-card *ngIf="state==='selectedStudent'">
      <form method="post" [formGroup]="form2" (ngSubmit)="onStudentIdSubmit()">
        <ion-item>
          <ion-label position="stacked">Student ID</ion-label>
          <ion-input required="true" type="number" formControlName="studentId" class="form-control"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block">
          Search
        </ion-button>
        <br>
      </form>
    </ion-card>

    <ion-card *ngIf="studentResultStatus">
      <div>
        <ion-item>
          <ion-label>
            Marksheet ID : {{marksheet['marksheetId']}}
            <br>
            <br>
            Class : {{marksheet['className']}}
            <br>
            <br>
            Student ID : {{marksheet['studentId']}}
            <br>
            First Name : {{marksheet['firstName']}}
            <br>
            Last Name : {{marksheet['lastName']}}
            <br>
            <br>
            <table border="1px black solid" border-collapse="collapse">
              <tr>
                <th style="padding:10px">Subject</th>
                <th style="padding:10px">Marks</th>
                <th style="padding:10px">Max Marks</th>
              </tr>
              <tr *ngFor="let elem of marks">
                <td align="left" style="padding:10px; text-align: center;">{{elem.sub}}</td>
                <td style="padding:10px; text-align: center;">{{elem.marks}}</td>
                <td style="padding:10px; text-align: center;">{{elem.maxMarks}}</td>
              </tr>
              <tr>
                <td style="padding:10px; text-align: center;"></td>
                <td style="padding:10px; text-align: center;">{{marksheet.totalMarks}}</td>
                <td style="padding:10px; text-align: center;">{{marksheet.totalMaxMarks}}</td>
              </tr>

              <tr>
                <td></td>
                <td colspan="2" style="padding:10px; text-align: center;">Percentage : {{marksheet.percentage}}%</td>
              </tr>
              <tr>
                <td></td>
                <td colspan="2" style="padding:10px; text-align: center;">Grade : {{marksheet.grade}}</td>
              </tr>
            </table>


          </ion-label>
        </ion-item>
      </div>
    </ion-card>



</ion-content>
